# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- '*'

pr:
- '*'

pool:
  name: Default
  vmImage: 'ubuntu-latest'

steps:
 - script: |
     echo "helm installer..."
     sudo snap install helm --classic 
 - script: |
     echo "k3s credencial..."
     sudo chmod 644 /etc/rancher/k3s/k3s.yaml --verbose
 - task: Kubernetes@1
   inputs:
    connectionType: 'None'
    namespace: 'keycloak'
    command: 'apply'
    arguments: '-f $(Build.SourcesDirectory)/configmap.yml -f $(Build.SourcesDirectory)/deployment.yaml -f $(Build.SourcesDirectory)/service.yaml'
    secretType: 'generic'

 - script: |
     echo "helm credencial..."
     sudo chmod 644 /etc/rancher/k3s/k3s.yaml --verbose



 - task: HelmDeploy@0
   inputs:
     connectionType: 'None'
     namespace: 'keycloak'
     command: 'upgrade'
     chartType: 'Name'
     chartName: 'keycloak'
     releaseName: 'keycloak'
     force: true
     waitForExecution: false
     arguments: '--dependency-update'

